<a href="https://colab.research.google.com/github/sarindesai/Assignment3/blob/main/Hypothesis_testing_Q3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [6]:
# Load the dataset
df= pd.read_csv('https://excelr.s3.nl-ams.scw.cloud/DataScience-Assignments/Assignments/hypothesis%20Testing/BuyerRatio.csv')

In [7]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [10]:
#make dimensional array
obs=np.array([[50,142,131,70],[435,1523,1356,750]])

In [11]:
obs

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]])

In [13]:
#chi2_contingency independent test
chi2_contingency(obs)
#o/p is(chi2_contigency value,p_value,df,expected observation)

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
#compare p_value with a=0.05